body {
    background-color: blanchedalmond;
}

.title{
    font-family: 'Arial';
}

#mark{
    display: none;
}

#dismissRober{
    display: none;
}

.square{
    display: inline-block;
    margin-right: 5px;
    height: 7.5vw;
    width: 7.5vw;
    border-radius: 10px
}

#square1{
    background-color: #006466;
}

#square2{
    background-color: #065A60;
}

#square3{
    background-color: #0B525B;
}

#valuedisplay{
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    bottom: 3px;
}