body {
    background-color: blanchedalmond;
}

.title{
    font-family: 'Arial';
}

#mark{
    display: none;
}

#dismissRober{
    display: none;
}
.square{
    display: inline-block;
    margin-right: -5px;
    height: 5vw;
    width: 5vw;
    border-radius: 1.5vw
}

.square:hover{
    height: 6vw;
    width: 6vw;
}

#square1{
    background-image: url("./MarkRober.png");
    background-size: cover;
    background-color: #2b2b2b;
}

#square2{
    background-image: url("./GameController.png");
    background-size: cover;
    background-color: #2b2b2b;
}

#square3{
    background-image: url("./NumbersIcon.png");
    background-size: cover;
    background-color: #2b2b2b;
}

#valuedisplay{
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    bottom: 3px;
}